{% extends "@Shop/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
    {{ 'Create a new account'|trans }}
{% endblock title %}

{% block page_content %}

<div class="col-md-12"> 

      <div class="sign-in-page">
			<div class="row">
 <div class="col-md-6 col-sm-6 create-new-account">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register-form outer-top-xs'}}) }}

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <h2>{{ 'Create a new account'|trans }}</h2>
        </div>
    </div>
   <div class="my-custom-class-for-errors">
                                {{ form_errors(form) }}
                            </div>
                          {{ form_row(form._token) }}
    <div class="form-group">
	    	<label class="info-title" for="exampleInputEmail2">Email Address <span>*</span></label>
	    	<input type="email" Name="fos_user_registration_form[email]" class="form-control unicase-form-control text-input" id="exampleInputEmail2">
	  	</div>
           <div class="form-group">
	    	<label class="info-title" for="exampleInputEmail2">Firstname  <span>*</span></label>
	    	<input type="text" Name="fos_user_registration_form[firstname]" class="form-control unicase-form-control text-input" id="exampleInputEmail2">
	  	</div>
           <div class="form-group">
	    	<label class="info-title" for="exampleInputEmail2">Lastname <span>*</span></label>
	    	<input type="text" Name="fos_user_registration_form[lastname]" class="form-control unicase-form-control text-input" id="exampleInputEmail2">
	  	</div>
        <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Name <span>*</span></label>
		    <input type="text" Name="fos_user_registration_form[username]" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
		</div>
        <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Phone Number <span>*</span></label>
		    <input type="text" Name="fos_user_registration_form[phone]" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
		</div>
        <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Password <span>*</span></label>
		    <input type="password" Name="fos_user_registration_form[plainPassword][first]" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
		</div>
         <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Confirm Password <span>*</span></label>
		    <input type="password" Name="fos_user_registration_form[plainPassword][second]" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
		</div>
         <div class="form-group">
		    <label class="info-title" for="exampleInputEmail1">Address<span>*</span></label>
		    <input type="text" Name="fos_user_registration_form[address]" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
		</div>

	   

    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn-upper btn btn-primary checkout-page-button">{{ 'Sign Up'|trans }}</button>
        </div>
    </div>

    {{ form_end(form, {'render_rest': false}) }}

</div>	
<!-- create a new account -->	
    </div><!-- /.row -->
		</div>
        
        </div>
{% endblock page_content %}
